main {
    min-height: 70vh;
}
.contacts {
    #sectioncase {
    @include fontSmall;
        margin-top: 103px;
        margin-bottom: 24px;
        font-weight: 600;
        @media (min-width: $medium) {
            margin-left: 160px;
            }
}

.listofcontacts {
    margin-top: 100px;

    .inline {
        @include fontSmall;
        margin-left: 8px;
    }
    
    @media (min-width: $medium) {
        margin-left: 160px;
        margin-top: 150px;
        }
    list-style: none;
    a {
        text-decoration: none;
        color: $black-color;
        display: flex;
        align-items: center;
    }

    li {
        margin-bottom: 10px;
    }

}
}
