header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (min-width: $medium) {
      margin-right: 160px;
      margin-left: 160px;
    }
    .nav-list li {
        display: inline;
        @include fontTiny;
        padding: 24px;
    }

    a.heading {
      text-decoration: none;
      color: $black-color;
    }

    a.link {
        text-decoration: none;
        color: $black-color;
      display: inline-block;
      padding: 15px 20px;
      position: relative;
      &.active {
        text-decoration: $primary-color solid 2px underline;
        text-underline-position: under;
    }
  }

  a.link:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
   
    background: $primary-color;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }

  a.link:hover:after { 
    width: 100%; 
    left: 0; 
  }


  /* a partir daqui */
  

    .logo {
    @include fontSmall;
    text-decoration: none;
    font-weight: 600;
    @media (min-width: $medium) {
      @include fontMedium;
    }
}
}


.btn--toggle-menu {
    background: transparent;
    border: none;
    display: contents;
    cursor: pointer;
    @media (min-width: $medium) {
      display: none;
    }
    svg {
      stroke: $black-color;
      border: 2px solid $primary-color;
      border-radius: 5px;
      padding: 5px;
    }
  }
  
  #main-navigation {
    display: none;
    @media (min-width: $medium) {
        display: block;
    }
        &.menu-is-open {
            display:flex; 
            position: absolute;
            background: $white-color;
            top: 60px;
            margin-right: 0;
            width:97%;
            height: 30svh;
            border: 2px solid $primary-color;
            border-radius: 10px;
            z-index:1;
            justify-content: center;
            align-items: center;
            a {
              padding: 0;
            }
            ul {
                font-size: 30px;
                gap:40px;
                padding: 0;
                justify-content: center;
            }
            li {
              display: flex;
              justify-content: center;
            }
            @media (min-width: $medium) {
              display: block;
              position: static;
              background: transparent;
              width:auto;
            height: auto;
            ul {
              flex-direction: row;
              font-size: 20px;
              column-gap: 15px;
            }
            }
        }
    }
