.casestudies {

    @media (min-width: $medium) {
        margin-right: 160px;
        margin-left: 160px;
      }
      
    article {
        margin-bottom: 50px;
    }
    #sectioncase {
        @include fontMedium;
        margin-top: 103px;
        margin-bottom: 24px;
        font-weight: 600;
    }

    img {
        max-width: 100%;
        border-radius: 10px;
      }

      figure {
        position: relative;
        margin: 0;
      }

      .worktitle {
        @include fontMedium;
        margin-top: 10px;
        margin-bottom: 4px;
        font-weight: 600;
      }

      .workdescri {
        @include fontTiny;
        color: #655f5c;
        margin-top: 0px;
      }
    }

    .space {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (min-width: $medium) {
          justify-content: left;
      }

      .space2 {
        @media (min-width: $medium) {
          margin-right: 40px;
      }
      }
    }

    button.seta {
      border: 2px solid #000000;
      padding: 8px 20px;
      width: 70px;
      height: 46px;
      color: $white-color;
      background: $white-color;
      cursor: pointer;
      position: relative;
      z-index: 0;
      border-radius: 100px;
      svg {
        color: $primary-color;
    }
  }
  
  button.seta:before {
      content: '';
      background: linear-gradient(45deg, $primary-color, #d2317f, #b941a1, #de7bca, #cb1ad8, #de4ac5, #da0bdd);
      position: absolute;
      top: -2px;
      left:-2px;
      background-size: 400%;
      z-index: -1;
      filter: blur(5px);
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      animation: glowing 20s linear infinite;
      opacity: 0;
      transition: opacity .3s ease-in-out;
      border-radius: 10px;
  }
  
  button.seta:active {
      color: $white-color;
  }
  
  button.seta:active:after {
      background: transparent;
  }
  
  button.seta:hover:before {
      opacity: 1;
  }
  
  button.seta:after {
      z-index: -1;
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: $white-color;
      left: 0;
      top: 0;
      border-radius: 100px;
  }
  
  @keyframes glowing {
      0% { background-position: 0 0; }
      50% { background-position: 400% 0; }
      100% { background-position: 0 0; }
  }
