.casestudies {
    article {
        margin-bottom: 50px;
    }
    #sectioncase {
        @include fontSmall;
        margin-top: 103px;
        margin-bottom: 24px;
        font-weight: 600;
    }

    img {
        max-width: 100%;
        border-radius: 10px;
      }

      figure {
        position: relative;
        margin: 0;
      }

      .worktitle {
        @include fontMedium;
        margin-top: 10px;
        margin-bottom: 4px;
      }

      .workdescri {
        @include fontLittle;
        color: #8B8B8B;
        margin-top: 0px;
      }
    }

    .space {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    button.seta {
        background: $white-color;
        border: 1px solid #000000;
        border-radius: 33px;
        padding: 8px 20px;
        width: 70px;
        height: 46px;
        left: 304px;
        top: 619px;
        svg {
            color: $black-color;
        }
    }