@mixin fontMain {
    font-family: 'Inter', sans-serif;
}

@mixin fontLittle {
    font-size: rem(14px);
}

@mixin fontTiny {
    font-size: rem(18px);
}

@mixin fontSmall {
    font-size: rem(20px);
}

@mixin fontMedium {
    font-size: rem(24px);
}

@mixin fontLarge {
    font-size: rem(32px);
    font-weight: 700;
}

@mixin fontGigante {
    font-size: rem(36px);
    font-weight: 700;
}

