img {
    max-width: 100%;
    border-radius: 10px;
    margin-top: 20px;
    
  }

  figure {
    position: relative;
    margin: 0;
  }

article {
    margin-bottom: 80px;
    }




.primary {
    @media (min-width: $medium) {
        margin-left: 160px;
        width: auto;
        padding: 16px 24px;
        }
}



.h2 h2 {
    @include fontSmall;
    font-weight: 500;
}
  .fbaul {
    display: grid;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-columns: auto auto;
    @media (min-width: $medium) {
        margin-left: 160px;
        margin-right: 160px;
    }
}

#figure {
    grid-column: 1/3;
}

#title {
    grid-column: 1/3;
    margin-bottom: 30px;
    .rethinking {
    @include fontMedium;
    margin-bottom: 4px;
    font-weight: 600;
    }

    .p {
      @include fontTiny;
      color:#655f5c;
      margin: 0;
    }
}

#teammates,#timespan {
    .p2  {
        font-size: rem(16px);
        font-weight: 400;
        padding-right: 5px;
        width: 90%;
    }
}

#challenge {
    grid-column: 1/3;
    margin-top: 30px;
    @media (min-width: $medium) {
        width: 70%;
        }
    p {
        font-size: rem(16px);
        font-weight: 400;
        line-height: 140%;
    }
    }