.sobremim {
    @media (min-width: $medium) {
        margin-right: 160px;
        margin-left: 160px;
      }
}

.texto {
    #sectioncase {
        @include fontSmall;
        margin-top: 103px;
        margin-bottom: 24px;
        font-weight: 600;
    }
    p.descri {
        font-size: 16px;
        font-weight: 300;
        line-height: 140%;
        width: 90%;
        @media (min-width: $medium) {
            width: 70%;
        }
    }
}

.skills {
    margin-bottom: 32px;
    #sectioncase {
        @include fontSmall;
        margin-bottom: 24px;
        margin-top: 40px;
        font-weight: 600;
        @media (min-width: $medium) {
            margin-top: 60px;
        }
    }

    .listadeskills {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding-left: 0;
        list-style: none;
        @media (min-width: $medium) {
            width: 40%;
        }
        }

        .topic {
                padding: 8px;
                border-radius: 6px;
                margin-bottom: 8px;
                margin-right: 8px;
                background: #E7E7E7;
                color: $black-color
        }
}


button.primary {
    background: $primary-color;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 16px;
    border-radius: 12px;
    border: 2px $primary-color;
    width: 100%;
    margin-bottom: 16px;
    a {
        text-decoration: none;
        color: $white-color;
        
    }

    @media (min-width: $medium) {
        padding: 16px 24px;  
        width: auto;
        margin-left: 0;
        margin-right: 24px;
        }
  }

  
  button.secondary {
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 16px;
    border-radius: 12px;
    border: 2px solid $primary-color;
    background: $white-color;
    color: $primary-color;
    width: 100%;
    margin-bottom: 16px;

    a {
        text-decoration: none;
        color: $primary-color;
    }
    @media (min-width: $medium) {
        padding: 16px 24px;  
        width: auto;
        margin-left: 0;
        }
  }

  .botoes {
    @media (min-width: $medium) {
    display: flex;
    margin-top: 60px;
    margin-left: 160px;
  }
}
